body {
    background-image: url(https://www.stpeter.com.ph/images/og-stpeter.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    background-size: cover;
}
  /* .wrapper {
    border: 30px solid #462921;
    margin: 0 auto;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: 40px repeat(8, 50px) 40px;
    grid-auto-flow: row;
    max-width: 400px;
    width: 400vw;
    margin-top: 80px;
    margin-bottom: 100px;
  }
  .wrapper-inner{
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: auto;
    grid-auto-flow: row;
    align-items: strech;
  } */
  
  .box {
    padding: 20px;
    font-size: 150%;
    background-color: #fff;
    color: #000;
    text-align: center;
  }
  .box-inner{
    text-align: center;
    align-self: center;
  }
  .top,
  .bottom{
    display: grid;
    align-items: stretch;
    background-color: #7d694c;
  }
  .top {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .bottom {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 10;
    grid-row-end: 10;
  }
  

.horse-white {
    background-image: url(horse-white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
}
.horse-black {
    background-image: url(horse-black.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
} 

.rook-white {
    background-image: url(rook-white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
}

.rook-black {
    background-image: url(rook-black.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
}

.bishop-white {
    background-image: url(bishop-white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
}

.bishop-black {
    background-image: url(bishop-black.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
}

.king-white {
    background-image: url(king-white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
}

.king-black {
    background-image: url(king-black.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
}

.queen-white {
    background-image: url(queen-white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
}

.queen-black {
    background-image: url(queen-black.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
}

.pawn-white {
    background-image: url(pawn-white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}

.pawn-black {
    background-image: url(pawn-black.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}


.grid {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(8, [col] 5vw);
    grid-template-rows: repeat(8, [row] 5vw);
    width: 40vw;
    border: 20px solid #000;
    box-shadow: 0 5px 8px #777;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 100px;
    border-image: url(https://www.pngarts.com/files/8/Gold-Border-PNG-Background-Image.png) 115;

}


.grid b {
    font-size: calc(5vw);
    text-align: center;
}

.grid b:nth-child(n+1):nth-child(-n+8):nth-child(even) {
    background-color: #166b41;
}
.grid b:nth-child(n+9):nth-child(-n+16):nth-child(odd) {
    background-color: #166b41;
}
.grid b:nth-child(n+17):nth-child(-n+24):nth-child(even) {
    background-color: #166b41;
}
.grid b:nth-child(n+25):nth-child(-n+32):nth-child(odd) {
    background-color: #166b41;
}
.grid b:nth-child(n+33):nth-child(-n+40):nth-child(even) {
    background-color: #166b41;
}
.grid b:nth-child(n+41):nth-child(-n+48):nth-child(odd) {
    background-color: #166b41;
}
.grid b:nth-child(n+49):nth-child(-n+57):nth-child(even) {
    background-color: #166b41;
}
.grid b:nth-child(n+57):nth-child(-n+64):nth-child(odd) {
    background-color: #166b41;
}

.header {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.peter-logo img {
    width: 6vw;
    height: auto;
}
.peter-quote span {
    color: #fff;
    font-size: 2vw;
    padding-left: 3vw;
}


